
body, p {
  font-size: 1.04em;
}

h1, h2, h3 {
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  margin-bottom: 1em;
  font-size: 2.5rem;
}

h2 {
  margin-top: 1.7em;
}

h3, .content-container h3 {
  margin-top: 1.6em!important;
}

ul li p {
  padding-bottom: .8em;
  line-height: 1.5em;
}

.epigraph {
  font-style: italic;
  border-left: 4px solid #ccc!important;
  margin-left: 0!important;
  font-size: 1.2em!important;
}

div.header__block {
  color: #222;
}

/* not working and not sure why */
.caption-text {

}


/*
.announcement div {
  background-color: #ccc;
} */
/*
.header-item.announcement, .header-item.announcement .noprint {
  background-color:#ccc;
}

div.admonition.note {
  margin-top: 4em;
  margin-bottom: 4em;
  background-color: #F8F9FB
}

.admonition p {
  font-weight: normal !important;
  font-size: .9em;
}
